<br>
<div class="container text-center">
    <div class="col-md">
        <h1> Hamburgueria do Zé! </h1>
    </div>
    <div>
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let hamburguer of hamburguers;">
                <td>{{hamburguer.nome}}</td>
              </tr>
            </tbody>
          </table>

    </div>
</div>

